CompileFlags:
  CompilationDatabase: ./bin/clang-release-linux

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: false
  Designators: false
  BlockEnd: false
  DefaultArguments: false
  TypeNameLimit: 24
